{include file='public/head'}
<div class="layui-field-box">
  <blockquote class="layui-elem-quote">
    <div class="layui-inline">
      <label class="layui-form-label">选择日期：</label>
      <div class="layui-input-inline">
        <input type="text" id="create"  autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <div class="layui-input-inline" id="button">
        <button class="layui-btn layui-btn-sm">查询</button>
      </div>
      <div class="layui-input-inline" id="button2">
        <button class="layui-btn layui-btn-sm">当天</button>
      </div>
    </div>
  </blockquote>
  <table id="table" lay-filter="test"></table>
</div>
{include file='public/foot'}

<script>
  layui.use(['laydate','form'], function(){
    var laydate = layui.laydate;
    //执行一个laydate实例
    laydate.render({
      elem: '#create' //指定元素
    });
  });
  //表格
  layui.use('table', function(){
    var table = layui.table;
    //第一个实例
    var tableIns = table.render({
      elem: '#table'
      ,url: 'interval_data' //数据接口
      ,page: true //开启分页
      ,cols: [[ //表头
      {field: 'time_name', title: '在线时间', width:180}
      ,{field: 'online_num', title: '用户总数'}
      ,{field: '0', title: 'VIP0'}
      ,{field: '1', title: 'VIP1'}
      ,{field: '2', title: 'VIP2'}
      ,{field: '3', title: 'VIP3'}
      ,{field: '4', title: 'VIP4'}
      ,{field: '5', title: 'VIP5'}
      ,{field: '6', title: 'VIP6'}
      ,{field: '7', title: 'VIP7'}
      ,{field: '8', title: 'VIP8'}
      ,{field: '9', title: 'VIP9'}

      ]]
    });
    $("#button").click(function(){
      var create = $("#create").val();
      tableIns.reload({
        where: { //设定异步数据接口的额外参数，任意设
          find:1
        ,create: create
        }
        ,page: {
      curr: 1 //重新从第 1 页开始
        }
      });
    });
    $("#button2").click(function(){
      location.reload();
    });
  });
</script>
