{include file='public/head'}
<body>
  <style type="text/css" media="screen">
    header {
      color: black;
    }
    .layui-form-pane .layui-form-label{
      width:220px;
    }
    .layui-form-pane .layui-input-block{
      margin-left:220px;
    }
  </style>
  <div class="x-body" >
    <form class="layui-form layui-form-pane" id='mainForm' method="post" action="serverAddcome">
      {volist name="data['comment']" id="vo" key="k"}
      <div class="layui-form-item">
        <label class="layui-form-label">{$vo}</label>
        <div class="layui-input-block">
          {if condition="$data['field'][$k] == 'server_start_time'"}
          <input type="text" id="time"  name="{$data['field'][$k]}" lay-verify="required" autocomplete="off" placeholder="请输入" value="" class="layui-input">
          {else /}
          <input type="text" id="{$data['field'][$k]}"  name="{$data['field'][$k]}" lay-verify="required" autocomplete="off" placeholder="请输入" value="{$data['bind'][$k]}" class="layui-input">
          {/if}
        </div>
      </div>
      {/volist}
      <div class="layui-form-item">
        <label class="layui-form-label">添加人</label>
        <div class="layui-input-block">
          <input type="text"  name="addname" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button style="margin-left: 20%" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="toSubmit">提交</button>
          <button id="reset" type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
      </div>
    </form>
  </div>
</body>
<script type="text/javascript">
  layui.use(['laydate','form'], function(){
    var laydate = layui.laydate;
    //执行一个laydate实例
    laydate.render({
      elem: '#time' //指定元素
      ,type: 'datetime'
    });
  });
  var form = layui.form;
  var layer = layui.layer;
  //自定义验证规则
  form.verify({
    username: function(value){
      if(value.length < 5){
        return '用户名至少得5个字符啊';
      }
    }
  });
  //监听提交
  form.on('submit(demo1)', function(data){
    layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })
    return false;
  });
  $(document).ready(function(){
    var options = {
      type:'post',           //post提交
      //url:'http://ask.tongzhuo100.com/server/****.php?='+Math.random(),   //url
      dataType:"json",        //json格式
      data:{},    //如果需要提交附加参数，视情况添加
      clearForm: false,        //成功提交后，清除所有表单元素的值
      resetForm: false,        //成功提交后，重置所有表单元素的值
      cache:false,
      async:false,          //同步返回
      success:function(data){
        //console.log(data);
        if(data.code==0){
          layer.msg(data.msg);
        }else{
          layer.msg(data.msg,{icon:1,time:500},function(){
            $("#reset").click();
            x_admin_close();
            parent.location.reload();
          });
        }
        //服务器端返回处理逻辑
      },
      error:function(XmlHttpRequest,textStatus,errorThrown){
        layer.msg('操作失败:服务器处理失败');
      }
    };
    // bind form using 'ajaxForm'
    $('#mainForm').ajaxForm(options).submit(function(data){
      //无逻辑
    });
  });
</script>
{include file='public/foot'}
