{include file="public/head"}
<style type="text/css">
  input::-webkit-input-placeholder {
    color: #aab2bd;
    font-size: 14px;
  }
  input {
    padding-left: 5px;
  }
</style>
<div class="layui-field-box">
  <div class="layui-row">
    <button class="layui-btn layui-btn-sm "  onclick="x_admin_show('添加区服','configAdd.html',500,580)"></i>添加区服</button>
    <button onclick="javascript:location.reload()" class="layui-btn layui-btn-sm">刷新</button>
    <span class="x-right" style="line-height:40px">共有数据:{$count}条</span>
  </div>
  <table class="layui-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>区服名</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {volist name='role' id='vo'}
      <tr>
        <td>{$vo.id}</td>
        <td>{$vo.title_name}</td>
        <td>
          <button class="layui-btn layui-btn-xs" onclick="x_admin_show('编辑区服','configEdit.html?id={$vo.id}',500,580)">编辑</button>
          <button onclick="delRole(this,{$vo.id})" class="layui-btn layui-btn-xs layui-btn-danger">删除</button>
        </td>
      </tr>
      {/volist}
    </tbody>
  </table>
  <div class="page">
    {$page}
  </div>
</div>
{include file="public/foot"}

<script>
  function delRole(obj,id){
    layer.confirm('确认要删除吗？',function(index){
      $.ajax({
        url: 'delConfig',
        type: 'post',
        dataType: 'json',
        data: {id:id}
      })
      .done(function(data){
        if(data.code==1){
          layer.msg(data.msg,{icon:1,offset:"t",time:500},function(){
            parent.location.reload();
          });
        }else{
          layer.msg(data.msg,{icon:2,offset:"t"});
        }
      })
    })
  }

</script>
