//导出文件名 必须
out_name = cfg_map_base

//key值 必须
key = 场景ID

//value字段值 必须
value = c_map_base;场景ID;名称,string;场景类型;场景子类型;特殊开启;是跨服地图;分线人数;地图广播;地图数据ID;刷新序列,list;是否可以普通复活;是否可以原地复活;普通复活次数;普通复活CD;复活次数CD;原地复活消耗金币;活动掉落,string;可选择模式,list;进入场景模式;是否增加善恶值;免费进入次数;免费进入VIP等级;进入VIP等级;花费元宝;消耗道具,string;场景解锁等级;单次停留时间;可进入次数

is_list = true