//导出文件名 必须
out_name = cfg_drop_boss

//key值 必须
key = BossID

//value字段值 必须
value = c_drop_boss;BossID;特殊掉落;掉落组1;掉落组2;掉落组3;掉落组4;掉落组5;掉落组6;掉落组7;掉落组8;掉落组9;掉落组10;掉落组11;掉落组12;掉落组13;掉落组14;掉落组15;掉落组16;掉落组17;掉落组18;掉落组19;掉落组20;掉落组21;掉落组22;掉落组23;掉落组24;掉落组25;掉落组26;掉落组27;掉落组28;掉落组29;掉落组30;掉落组31;掉落组32;掉落组33;掉落组34;掉落组35;掉落组36;掉落组37;掉落组38;掉落组39;掉落组40

is_list = true