//导出文件名 必须
out_name = cfg_copy

//key值 必须
key = 副本地图ID

//value字段值 必须
value = c_copy;副本地图ID;副本名称,string;副本类型;副本难度;副本开始倒计时;完成副本类型;完成副本参数,list;星级类型;星级参数,list;副本存在时间;副本可进入时间;副本扣除次数类型;每日副本进入次数;副本CD;副本CD清除消耗,list;副本消耗道具,list;可购买次数;购买单价,list;跳结算间隔时间;结束倒计时;离开地图ID;离开地图坐标,string;是否可使用坐骑;是否可PK;进入等级;属性条件,string;境界条件;解锁奖励,string;是否可组队;人数限制;任务限制;是否可扫荡;扫荡条件,string;扫荡消耗道具,string;基础奖励,string;1星奖励,string;1星掉落奖励,list;2星奖励,string;2星掉落奖励,list;3星奖励,string;3星掉落奖励,list;资源找回奖励,string

is_list = true