//导出文件名 必须
out_name = cfg_monster_i

//key值 必须
key = id

//value字段值 必须
value = c_monster;id;名字,string;战斗类型;等级;技能id,list;怪物类型;掉落类型;首次掉落,string;怪物阵营;单人剧情怪;警戒范围;活动范围;巡逻半径;巡逻cd;怪物归属;死亡掉落;死亡掉落,list;增加经验;出生时间;是否吸引怪物仇恨;伤害掉落铜钱;不包围目标;扣除停留时间;移动速度;攻击频率;生命;攻击;防御;破甲;命中;闪避;暴击;韧性;暴击伤害;暴伤减免;伤害加深;伤害减免;会心一击;会心抵抗;格挡几率;抵抗格挡;无视防御;无视抵抗;金抗性;木抗性;水抗性;火抗性;土抗性;扣血下限;扣血上限;攻击等级上限;等级压制,list;战力压制,list


is_list = true