//导出文件名 必须
out_name = cfg_skill

//key值 必须
key = 等级技能ID

//value字段值 必须
value = c_skill;等级技能ID;技能ID;技能等级;技能名称,string;技能类型;技能作用;目标类型;子弹速度;攻击结果加成条件,list;buff触发条件;条件参数;攻击/被攻击加成条件,list;属性加成,string;场景效果参数,list;增强效果参数,list;战斗buff触发条件,list;增强技能类型ID,list;增强技能参数,list;被加buff触发,list;加BUFF对己,list;加BUFF对敌,list;加BUFF概率,list;升级消耗,string;学习需求职业;学习需求等级;学习转生等级;动画时长;公共CD;技能CD;最大施放距离;伤害系数,string;被动概率和目标数量,list;局部坐标系;攻击类型;范围参数,list;召唤体;战斗力类型;战斗力;铭文编号,list