//导出文件名 必须
out_name = cfg_act_rank

//key值 必须
key = ID

//value字段值 必须
value= c_act_rank;ID;活动名称,string;开启天数;排行时间,list;排行人数;排行条件;排行1,list;排行奖励1,string;排行2,list;排行奖励2,string;排行3,list;排行奖励3,string;排行4,list;排行奖励4,string;基础奖励条件;基础奖励,string;基础奖励条件2;基础奖励2,string;基础奖励条件3;基础奖励3,string;基础奖励条件4;基础奖励4,string;基础奖励条件5;基础奖励5,string;购买道具,string

is_list = true