//导出文件名 必须
out_name = cfg_mythical_equip_excellent

//key值 必须
key = 属性组ID

//value字段值 必须
value = c_mythical_equip_excellent;属性组ID;备注,string;防御加成,list;生命加成,list;攻击加成,list;破甲加成,list;命中加成,list;闪避加成,list;暴击加成,list;坚韧加成,list;防御百分比,list;生命百分比,list;攻击百分比,list;破甲百分比,list;命中百分比,list;闪避百分比,list;暴击百分比,list;坚韧百分比,list
