//导出文件名 必须
out_name = cfg_vip_level

//key值 必须
key = vip等级

//value字段值 必须
value = c_vip_level;vip等级;所需经验值;称号;装备可镶嵌宝石;装备可镶嵌纹印;签到奖励倍数;属性加成,string;青竹院;百湾角;失落谷;幽魂林;幽冥地界进入次数;个人boss进入次数;杀怪经验加成;伙伴经验吞噬加成;小飞鞋;专属商品;拍卖行税率;VIP礼包,string;VIP日礼包,string;现价;祈福增加次数;资源找回;个人boss首次免费;个人boss消耗减半;镇魂塔;远古神迹;世界BOSS购买次数;洞天福地挑战次数;道庭仓库宝箱数量;道庭任务加速次数;世界BOSS合并次数;经验副本合并次数;摇钱树次数;五行幻境幻力购买