<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/UnityThemeSelector"
        android:usesCleartextTraffic="true"
        android:name="com.monawa.haneul.MyAdbrixApplication">


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon"/>
        <meta-data android:name="iap:api_version"
            android:value="5"/>
        <meta-data android:name="iap:view_option"
            android:value="popup" />

        <meta-data android:name="AdBrixRmAppKey" android:value="dFOHg1dyikucZyTMQxFLfg" />
        <meta-data android:name="AdBrixRmSecretKey" android:value="NSTSsyNX60WrDPZW3glHcw" />


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <receiver android:name="com.igaworks.v2.core.AbxReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>
<!--            android:label="@string/app_name" />-->
        <activity android:name="com.facebook.CustomTabActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>

        <activity android:name="com.monawa.haneul.googleFirebaseActivity">
<!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
<!--            android:screenOrientation="landscape">-->
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



"

        <service
            android:name="com.monawa.haneul.MyFirebaseMessagingService"
            android:exported = "false">
<!--            android:directBootAware="true">-->
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>



<!--        <service-->
<!--            android:name="com.monawa.haneul.MyJobService"-->
<!--            android:exported = "false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

    </application>

</manifest>
