{include file='public/head'}
  <style type="text/css" media="screen">
    header {
      color: black;
    }
  </style>
  <div class="x-body" >
    <form class="layui-form" id='mainForm' method="post" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">组名</label>
        <div class="layui-input-block">
          <input type="text" name="name" lay-verify="required" class="layui-input" autocomplete="off" value="{$data.group_name}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
          <input type="text" name="sort" lay-verify="number" class="layui-input" autocomplete="off" placeholder="序号越小,排的越前" value="{$data.sort}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
          <input type="radio" name="status" class="layui-input" value="0" title="禁用" {$data.status == 0 ? 'checked' : ''}>
          <input type="radio" name="status" class="layui-input" value="1" title="使用" {$data.status > 0 ? 'checked' : ''}>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button style="margin-left: 20%" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="toSubmit" name="id" value={$data.id}>提交</button>
          <button id="reset" type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
      </div>
    </form>
  </div>
{include file='public/foot'}

<script type="text/javascript">
  var form  = layui.form;
  var layer = layui.layer;

  $(document).ready(function(){
    var options = {
      type:'post',
      dataType:"json",
      data:{},
      clearForm: false,        //成功提交后，清除所有表单元素的值
      resetForm: false,        //成功提交后，重置所有表单元素的值
      cache:false,
      async:false,
      success:function(data){
        if(data.status.code != 10200){
          layer.msg(data.status.msg);
        }else{
          layer.msg(data.status.msg,{icon:1,time:500},function(){
            $("#reset").click();
            x_admin_close();
            parent.location.reload();
          });
        }
        //服务器端返回处理逻辑
      },
      error:function(XmlHttpRequest,textStatus,errorThrown){
        layer.msg('操作失败:服务器处理失败');
      }
    };
    $('#mainForm').ajaxForm(options).submit(function(data){
    });
  });
</script>
